<!--start navigation -->
<div class="collapse bg-inverse background_black" id="navbarHeader">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 py-4">
        <h4 class="text-white">About</h4>
        <p class="text-muted">Some itens describing technical and managerial career. Try drag and drop the pictured items</p>
      </div>
      <div class="col-sm-4 py-4">
        <h4 class="text-white">Explore</h4>
        <ul class="list-unstyled">
          <%= nav_helper 'text-white', 'li' %>
          <li><%= login_helper 'text-white'%></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="navbar navbar-inverse bg-inverse background_black">
  <div class="container d-flex justify-content-between">
    <a href="#" class="navbar-brand">Krishnan Pontes</a>
    <!--class="navbar-toggler" [-->
    <button class="btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
      <span>Menu</span>
    </button>
  </div>
</div>
<!--end navigation -->

