<h1>Resumee</h1>
<p>Professional with solid experience in portfolio management, IT management and software engineering.</p>
<p>Experience as professor in post-graduation Project Management and IT Management related disciplines.</p>
<p>I have led projects in various industries such as Telecommunications, Pharmaceuticals and Government, experiencing process improvements and system integrations under different perspectives of Software Development Life Cycle.</p>
<p>Proven leadership, excellent inter-personal relationship and communication skills.</p>

