
<div class= "inner cover" align="left">
  Professional holding a Master degree in Computer Science and MBA in Project Management, 
     I also hold the certifications:
  <div class="cover-50">
    <li>IBM Certified Senior Project Manager</li>
    <li>PMI Project Management Professional</li>
    <li>ITIL Foundations (Information Technology Infrastructure Library)</li>
  </div>
  <br>
  <p>My career combines technical expertise allied with business background, what 
  enables me with best results focused on client needs</p>
  
  <p>Solid experience in portfolio management, IT management and software engineering. 
  I have led projects in various industries such as Telecommunications, Pharmaceuticals and Government, experiencing process improvements and system integrations under different perspectives of Software Development Life Cycle.</p>
  <p>Experience as professor in post-graduation Project Management and IT Management related disciplines.</p>
  <p>Proven leadership, excellent inter-personal relationship and stakeholder management.</p>
</div>
<div class= "inner cover" align="right"><b>Skills:</b>
<p>Leadership, communication, negotiation, analytical thinking</p>
<p>Programme management, supplier management, financial management, stakeholder management, SCRUM</p>
<p>Telecom OSS / BSS, UML, Oracle, SQL-Server, Ruby on Rails, JQuery, .NET, IP networks</p>
