<h1>Pages#contact</h1>
<p>Find me in app/views/pages/contact.html.erb</p>

<div class="col-md-6">
  <p><%= number_to_phone("1234567890")  %></p>
  <p><%= number_with_delimiter("12345678901")  %></p>
  <p><a href="mailto:krishnanpontes@gmail.com?subject=Portfolio contact"> E-Mail </a></a></p>
</div>
<div class="col-md-6">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3673.1324508494194!2d-43.201329185427205!3d-22.982156446341637!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9bd5112c3776a5%3A0x7cb0593981ffd372!2sR.+Nascimento+Silva%2C+4+-+Ipanema%2C+Rio+de+Janeiro+-+RJ%2C+22411-072!5e0!3m2!1spt-BR!2sbr!4v1497463273196" width="300" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
